/**
 * Parvez M Robin
 * parvezmrobin@gmail.com
 * Date: Mar 31, 2019
 */


$border-radius: .15rem !default;
$border-radius-lg: .2rem !default;
$border-radius-sm: .1rem !default;

$caret-vertical-align: 0.175em !default;

$warning: #f19b65 !default;
$danger: #e31f31 !default;
$success: #127b8b !default;
$dark: #151520 !default;
$blue: #042c57 !default;
$primary: #08468a !default;
$info: #6a88ff !default;
$warningLight: #eb6d1f !default;

$theme-colors: ('info': $info, 'warning-light': $warningLight, 'blue': $blue) !default;
$link-color: $info !default;

$wicketHeight: 1.5rem;

@import "~bootstrap/scss/bootstrap";

.navbar-light .navbar-nav.highlight {
  .nav-link {
    color: $info;

    @include hover-focus {
      color: darken($info, $emphasized-link-hover-darken-percentage);
    }

  }

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    color: $primary;
  }
}

body.home {
  background: url(../assets/home-bg.jpg) no-repeat fixed center center;
  background-size: cover;

  & > div {
    background-color: #000000aa;
  }

  nav {
    @extend .bg-dark;
    @extend .navbar-dark;
  }
}

aside {
  background-color: #11111a;
}

.fs-2 {
  font-size: 2rem !important;
}

.bg-dark-trans {
  background-color: #151520d6;
}

@include media-breakpoint-up(md) {
  aside .list-group {
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
  }
  .vh-md-100 {
    height: 100vh;
  }
}

select#select-match {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.25rem;
  color: var(--info);

  &:focus {
    outline: none;
  }
}

.list-group-select {
  @extend .list-group;
  @extend .list-group-horizontal;
  @extend .bg-dark;
  @extend .text-white;
  @extend .rounded;
  @extend .flex-wrap;
}

@include media-breakpoint-up(md) {
  .list-group-select {
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    overflow-x: hidden;

    .list-group-item {
      width: 50%;
    }
  }
}

section.score-input {
  @extend .col-12;
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .pl-3;
  @extend .pt-1;
  @extend .pb-2;
  @extend .align-items-center;
  @extend .bg-dark;
  @extend .text-white;
}

@include media-breakpoint-up(lg) {
  section.score-input {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-lg-regular {
    width: 100%;
  }
}

.mt-10 {
  margin-top: 5rem;
}

.toast {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 1024;
}

.list-group.clickable .list-group-item {
  cursor: pointer;
}

.tooltip-inner {
  @extend .bg-primary;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: $primary;
}

.text-btn {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
}

th[scope="row"] {
  @extend .text-right;
}

.bg-dark button.close {
  @extend .text-white;
}

.bowl-event {
  @extend .badge;
  @extend .rounded-circle;
  @extend .mr-1;

  height: $wicketHeight;
  width: $wicketHeight;
  padding-top: $wicketHeight/4.5;

  &.wicket {
    @extend .badge-danger;
  }

  &.boundary {
    @extend .badge-primary;
  }
}

.list-group-item.active .bowl-event{
  @extend .border;
  border-color: $white;
}

.feather {
  width: 1.375rem;
  height: 1.375rem;

  &.feather-chevrons-up {
    position: absolute;
    top: .25rem;
    right: .75rem;
    width: 2.25rem;
    height: 2.25rem;
  }
}
