/**
 * Parvez M Robin
 * parvezmrobin@gmail.com
 * Date: Mar 31, 2019
 */


$border-radius:               .15rem !default;
$border-radius-lg:            .2rem !default;
$border-radius-sm:            .1rem !default;
$warning:                     #f19b65 !default;
$danger:                      #e31f31 !default;
$success:                     #127b8b !default;
$dark:                        #151520 !default;

@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-up(md) {
  aside{
    background-color: #11111a;

    .list-group{
      max-height: calc(100vh - 12rem);
      overflow-y: auto;
    }
  }
}

select#select-match{
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.25rem;
  color: var(--info);

  &:focus{
    outline: none;
  }
}

.mt-10{
  margin-top: 5rem;
}

.toast{
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 1024;
}
