/**
 * Parvez M Robin
 * parvezmrobin@gmail.com
 * Date: Mar 31, 2019
 */


$border-radius: .15rem !default;
$border-radius-lg: .2rem !default;
$border-radius-sm: .1rem !default;

$caret-vertical-align: 0.175em !default;

$warning: #f19b65 !default;
$danger: #e31f31 !default;
$success: #127b8b !default;
$dark: #151520 !default;
$blue: #042c57 !default;
$primary: #08468a !default;
$info: #6a88ff !default;
$warningLight: #eb6d1f !default;

$theme-colors: ('info': $info, 'warning-light': $warningLight, 'blue': $blue) !default;
$link-color: $info !default;

$spacer: 1rem !default;
$spacers: (
  6: ($spacer * 6),
  7: ($spacer * 12),
) !default;

$modal-dialog-margin-y: 4rem !default;
$modal-dialog-margin-y-sm-up: $modal-dialog-margin-y !default;

$zindex-fixed: 1060 !default;

$wicketHeight: 1.5rem;

$body-color: white !default;

@import "~bootstrap/scss/bootstrap";

.navbar-light .navbar-nav.highlight {
  .nav-link {
    color: $info;

    @include hover-focus {
      color: darken($info, $emphasized-link-hover-darken-percentage);
    }

  }

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    color: $primary;
  }
}

body {
  background: #43C6AC;  /* fallback for old browsers */
  background: radial-gradient(ellipse at top, darken($primary, 20%), darken($success, 20%), darken($blue, 20%));
}

body.home {
  background: url(../assets/home-bg.jpg) no-repeat fixed center center;
  background-size: cover;

  & > div {
    background-color: #000000aa;
  }

  nav {
    @extend .bg-dark;
    @extend .navbar-dark;
  }
}

aside {
  background-color: #11111a;
}

.modal-dialog {
  margin: $modal-dialog-margin-y auto;
}

.fs-1 {
  font-size: 1.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

@include media-breakpoint-up(md) {
  .fs-md-2 {
    font-size: 2rem !important;
  }
}

.bg-dark-trans {
  background-color: #151520d6;
}

aside {
  h1, h2, h3, .h1, .h2, .h3 {
    @extend .text-center;
    @extend .text-info;
    @extend .mt-10;
    @extend .mt-sm-5;
  }
}

@include media-breakpoint-up(md) {
  aside .list-group {
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
  }
  .vh-md-100 {
    height: 100vh;
  }
}

.dropdown#select-match {
  .dropdown-item:hover, .dropdown-item:focus {
    @extend .bg-primary;
  }

  .dropdown-toggle {
    @extend .fs-2;
    @extend .p-1;
    @extend .text-info;
    @extend .bg-transparent;
    @extend .border-0;

    &:focus {
      outline: 0 !important;
      box-shadow: none;
    }
  }
}

.list-group-select {
  @extend .list-group;
  @extend .list-group-horizontal;
  @extend .bg-dark;
  @extend .text-white;
  @extend .rounded;
  @extend .flex-wrap;
}

@include media-breakpoint-up(lg) {
  .list-group-select {
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    overflow-x: hidden;

    .list-group-item {
      width: 50%;
    }
  }
}

section.score-input {
  @extend .col-12;
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .pt-1;
  @extend .pb-2;
  @extend .align-items-center;
  @extend .bg-dark;
  @extend .text-white;

  &.v2{
    @extend .px-xl-7;
    @extend .px-md-6;
  }
}

@include media-breakpoint-up(lg) {
  section.score-input {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-lg-regular {
    width: 100%;
  }
}

.mt-10 {
  margin-top: 5rem;
}

.toast {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 1024;
}

.list-group.clickable .list-group-item {
  cursor: pointer;
}

.tooltip-inner {
  @extend .bg-primary;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: $primary;
}

.text-btn {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
}

th[scope="row"] {
  @extend .text-right;
}

.bg-dark button.close {
  @extend .text-white;
}

.bowl-event {
  @extend .badge;
  @extend .rounded-circle;
  @extend .mr-1;

  height: $wicketHeight;
  width: $wicketHeight;
  padding-top: $wicketHeight/4.5;

  &.wicket {
    @extend .badge-danger;
  }

  &.boundary {
    @extend .badge-primary;
  }
}

.list-group-item.active .bowl-event {
  @extend .border;
  border-color: $white;
}

.feather {
  width: 1.375rem;
  height: 1.375rem;

  &.feather-chevrons-up {
    position: absolute;
    top: .25rem;
    right: .75rem;
    width: 2.25rem;
    height: 2.25rem;
  }
}


/* TagControl overrides */
.form-control.tag {
  padding: 0;
}

.tag__control {
  min-height: 0 !important;
}

.tag__control, .tag__value-container {
  background-color: transparent !important;
  border: none !important;
}

.tag__control, .tag__value-container, .tag__menu {
  border-radius: $border-radius !important;
}

.tag__control, .tag__value-container, .tag__indicator {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tag__indicator-separator {
  display: none;
}

.tag__indicator.tag__clear-indicator {
  padding-right: 0 !important;
}

.tag__indicator.tag__dropdown-indicator {
  display: none !important;
}

.tag__multi-value {
  @extend .bg-info;
}

.tag__multi-value__label {
  @extend .text-white;
}

.tag__multi-value__remove:hover {
  background-color: transparent !important;
}
